body {
 /* display: flex; */
}

header {
  display: flex;
}

h1 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Poller One';
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 450px;
  border: 2px solid black;
  /* margin: 5%; */
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  /* text-align: center; */
}


@media (min-width: 599px) {

}