  body {
    margin: 0;
  }

  h1 {
    background-color: black;
    color: white;
    font-family: 'Poller One';
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    padding: 15px 20px 20px;
  }

  #photos img {
    border: 2px solid black;
    height: 200px;
    margin: 15px;
    opacity: .8;
    transition: all .3s ease
  }

  #photos img:hover {
    opacity: 1;
  }

  .images {
    width: 100%;
  }

  footer {
    border: 1px solid black;
    background-color: black;
    background-size: 100%;
    color: white;
  }

  h2 {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
  }

  ion-icon {
    font-size:25px;
    border: 2px solid white;
    color: white;
    padding: 8px;
    display: inline-flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
  }


@media (min-width: 599px) {
  body {
    margin: 0;
  }

  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    padding-top: 3%;
  }

  .navbar {
    width: 30%;
    padding: 1.5%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-transform: uppercase;
  }

  #header ul li a:hover, #header ul li.selected a {
    color: #0ba39c;
  }

  h1 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 28px 12px;
    font-size: 35px;
  }

  #photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #photos img {
    border: 2px solid black;
    height: 300px;
  }

  .images {
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 2%;
  }
}